<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      data-namespace-typo3-fluid="true">

  <f:layout name="Blank" />

  <f:section name="Content">
    <f:spaceless>
      <div>
    </div>
    <div>
      <h1><f:translate key="igSlug.pageTitle" /></h1>
      <div class="ig-slug-attributes">
	<f:translate key="igSlug.attributes" />:
	<f:for each="{fields}" as="field" iteration="i">
	  <f:if condition="!{i.isFirst}">, </f:if>{field}
	</f:for>
      </div>

      <div class="form-inline">
	    <f:form.hidden name="id" value="{pageUid}" />
	  <f:render partial="Slug/{filterMenus.partialFilter}" arguments="{_all}" />
      </div>

      <f:render partial="Slug/{filterMenus.partialListEntries}" arguments="{_all}" />


      <a class="btn btn-danger" href="javascript:void(0)" onclick="TYPO3.Confirm.dialog(TYPO3.lang['igSlug.confirm.title'], TYPO3.lang['igSlug.confirm.message'],
								   '{f:be.uri( route: 'web_info', parameters: '{id: pageUid,search: search,update: 1}')}')">
        <core:icon identifier="actions-save"/>
        <f:translate key="igSlug.populateSlug"/>
                </a>
    </div>
    </f:spaceless>

  </f:section>

</html>