<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      data-namespace-typo3-fluid="true">

  <f:layout name="Module" />

  <f:section name="Content">
    <f:be.pageRenderer
        includeJavaScriptModules="{
            0:'@ig/igslug//slug-confirm.js'
        }"
    />

    <f:spaceless>
      <div>
    </div>
    <div>
      <h1><f:translate key="igSlug.pageTitle" extensionName="IgSlug" /></h1>
      <div class="ig-slug-attributes">
	<f:translate key="igSlug.attributes" extensionName="IgSlug" />:
	<f:for each="{fields}" as="field" iteration="i">
	  <f:if condition="!{i.isFirst}">, </f:if>{field}
	</f:for>
      </div>

      <div class="form-inline">
        <f:form id="ig_slug_filters" action="list" class="form-inline form-inline-spaced">
	  <f:render partial="Slug/Filters" arguments="{_all}" />
        </f:form>
      </div>

      <f:render partial="Slug/ListEntries" arguments="{_all}" />

      <a class="btn btn-danger" id="slug-rebuild-button" data-rebuild-url="{rebuildUrl}" data-dialog-title="{f:translate(key: 'igSlug.confirm.title')}" data-dialog-message="{f:translate(key: 'igSlug.confirm.message')}" href="javascript:void(0)">
        <core:icon identifier="actions-save"/>
        <f:translate key="igSlug.populateSlug" extensionName="IgSlug" />
      </a>


    </div>
    </f:spaceless>

  </f:section>

</html>