	  <div class="form-group">
	    <f:form.select name="search[table]" value="{search.table}" options="{slugTables}" optionLabelField="title" optionValueField="table" class="form-control input-sm form-ig-slug-filter" />
	  </div>
	  <div class="form-group">
	  <f:form.select name="search[depth]" value="{search.depth}" options="{filterMenus.depth}" class="form-control input-sm form-ig-slug-filter" />
	  </div>
	  <div class="form-group">
	    <f:form.select name="search[lang]" value="{search.lang}" options="{filterMenus.lang}" class="form-control input-sm form-ig-slug-filter" prependOptionLabel="" prependOptionValue="" />
	  </div>
	  <div class="form-group">
	    <f:form.select name="search[show]" value="{search.show}" options="{filterMenus.show}" class="form-control input-sm form-ig-slug-filter" />
	  </div>
