.ig-slug-attributes {
    margin: 20px 0;
}

.table-slug td.col-slug {
    width: auto;
}

.table-slug td.col-center {
    text-align: center;
}
.table-slug .diff-item-result.diff-item-maybe {
    color: #c88005;
}